:root {
    --cor0: hsl(212, 45%, 89%);
    --cor1: hsl(220, 15%, 55%);
    --cor2: hsl(218, 44%, 22%);
}

@font-face {
    font-family: 'outifit';
    src: url(../fontes/Outfit-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-size: normal;
}

body {
    margin: auto;
    background-color: var(--cor0);
    max-width: 1440px;
    min-width: 375px;
}

body p {
    margin: auto;
    font-size: 15px;
    font-family: 'outifit', Verdana, Tahoma, sans-serif;
    font-weight: 500;
    color: var(--cor1);
    text-align: center;
    padding: 0px 20px 20px 20px;
}

body h1 {
    text-align: center;
    font-family: 'outifit', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

main {
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-top: 150px;
    max-width: 385px;
    border-radius: 20px;
}

main > img {
    border-radius: 20px;
    display: block;
    margin: auto;
    max-width: 375px;
}

main > h1 {
    margin: auto;
    max-width: 370px;
    padding: 10px;
}

main p {
    max-width: 250px;
}


